body{
    font-family: Calibri;
}

.nombre{
font-family: 'Acme', sans-serif;
font-size: 15vh;
}

.descripcion{
font-size: 3vh;
}

.letras{
    color: white;
    background-color: #1b1b2269;
    border-radius: 10px;
}

.sobre{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

.Main{
position:absolute;
top: 0;
left: 0;
width: 100%;
height: 800px;
background-color: #1c1c1d;
opacity: 0,5;
mix-blend-mode: overlay;
}

#je{
    min-width: 100vh;
}

.Main-Video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 850px;
    object-fit: cover;
}


.bar{
    background-color: rgb(85, 2, 67);
    text-align: center;
    width: 100%;
}


.pad{
    margin: 10px;
    font-size: 20px;
    
}



.prueba1{
    
    width: 100%;
    height: 710px;
    
    
    

}
.box2{
    background-color: rgb(51, 49, 53);
    width:100%;
    
}
.box3{
    position: absolute;
    background-color: rgb(125, 128, 7);
    width: 100%;
    height: 400px;
    
}
.box4{
    background-color: rgb(9, 255, 0);
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box5{
    background-color: rgb(255, 174, 0);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box6{
    background-color: rgb(33, 34, 34);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box7{
    background-color: aqua;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


